:root {
    --primary-color: rgb(173, 83, 0);
    --primary-color-dk: rgb(83, 40, 0);
    --primary-color-lg: rgb(240, 219, 118);
    --primary-gradient: rgba(240, 219, 118, 0.8), rgba(173, 83, 0, 0.8) 45%;
    --font-primary: rgb(240, 219, 118);
}
.jumbotron-primary {
    background-image: linear-gradient(var(--primary-gradient)), url('../jumbotron-background-1.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll, fixed;
    background-color: var(--primary-color);
    /* background: #e3f066 url('../jumbotron-background-1.jpg') center contain no-repeat fixed; */
}
.card-primary {
    flex: 1 300px;
    /* max-width: 35%; */
    margin: 10px;
}
.card-body a {
    align-self: flex-end;
    flex-grow: 1;
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--primary-color-lg);
    color: var(--primary-color);
}
.footer-primary {
    padding: 2rem;
    background-image: linear-gradient(var(--primary-gradient)), url('../jumbotron-background-1.jpg');
    background-attachment: scroll, fixed;
    background-color: var(--primary-color);
}
.navbar-primary {
    background-color: var(--primary-color);
}
.navbar-primary .navbar-brand {
    color: var(--primary-color-lg);
}

.navbar-primary .navbar-brand:hover {
    color: var(--primary-color-dk);
}
.color-primary {
    color: var(--primary-color);
}
.joke {
    font-size: 2em;
}
.joke-smiley {
    font-size: 4em;
}
.carousel-caption-primary {
    background-color: rgba(173, 83, 0, 0.5);
    border-radius: 5px;
}